html {
    width: 100%;
    height: 100%;
}

body {
    background: #EFEFEF;
    width: 100%;
    height: 100%;
    margin: 0;
    text-align: center;
}

ul {
    list-style: none;
    padding: 0;
}

.loading-indicator-box {
    width: 100%;
    text-align: center;
    position: absolute;
    top: 50%;
    margin-top: -9px;
}
